<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="Demo_Android.Demo_Android">
	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="16" />
	<uses-feature android:glEsVersion="0x00020000" android:required="true" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<application android:label="Demo_Android" android:icon="@drawable/icon">
	</application>
</manifest>